In [34]:
import pandas as pd
full_sample = pd.read_csv("test_data.csv")

In [35]:
full_sample

,id,zone,start,end,utc_start,meter_transactions,meter_payments,mobile_transactions,mobile_payments
0,5037,335 - Friendship Cedarville Lot,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,2,1.00,0,0.0
1,5038,341 - 18th & Sidney Lot,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,2,1.50,0,0.0
2,5039,342 - East Carson Lot,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,1,7.00,0,0.0
3,5040,343 - 19th & Carson Lot,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,2,1.25,0,0.0
4,5041,344 - 18th & Carson Lot,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,7,12.00,0,0.0
...,...,...,...,...,...,...,...,...,...
199995,201053,424 - Technology Drive,2014-04-08T12:40:00,2014-04-08T12:50:00,2014-04-08T16:40:00,4,32.00,0,0.0
199996,201054,304 - Tamello Beatty Lot,2014-04-08T12:50:00,2014-04-08T13:00:00,2014-04-08T16:50:00,1,3.75,0,0.0
199997,201055,308 - Harvard Beatty Lot,2014-04-08T12:50:00,2014-04-08T13:00:00,2014-04-08T16:50:00,2,2.00,0,0.0
199998,201056,321 - Beacon Bartlett Lot,2014-04-08T12:50:00,2014-04-08T13:00:00,2014-04-08T16:50:00,2,3.25,0,0.0
199999,201057,322 - Forbes Shady Lot,2014-04-08T12:50:00,2014-04-08T13:00:00,2014-04-08T16:50:00,6,5.50,0,0.0

In [36]:
oakland = full_sample[full_sample["zone"].str.contains("Oakland")]
oakland

,id,zone,start,end,utc_start,meter_transactions,meter_payments,mobile_transactions,mobile_payments
13,5050,407 - Oakland 1,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,9,27.25,0,0.0
14,5051,408 - Oakland 2,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,12,17.50,0,0.0
15,5052,409 - Oakland 3,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,11,38.25,0,0.0
16,5053,410 - Oakland 4,2014-01-04T11:40:00,2014-01-04T11:50:00,2014-01-04T16:40:00,20,37.50,0,0.0
47,5084,407 - Oakland 1,2014-01-04T11:50:00,2014-01-04T12:00:00,2014-01-04T16:50:00,13,27.75,0,0.0
...,...,...,...,...,...,...,...,...,...
199950,201008,410 - Oakland 4,2014-04-08T12:30:00,2014-04-08T12:40:00,2014-04-08T16:30:00,24,120.50,0,0.0
199983,201041,407 - Oakland 1,2014-04-08T12:40:00,2014-04-08T12:50:00,2014-04-08T16:40:00,21,56.75,0,0.0
199984,201042,408 - Oakland 2,2014-04-08T12:40:00,2014-04-08T12:50:00,2014-04-08T16:40:00,45,173.50,0,0.0
199985,201043,409 - Oakland 3,2014-04-08T12:40:00,2014-04-08T12:50:00,2014-04-08T16:40:00,38,122.50,0,0.0
199986,201044,410 - Oakland 4,2014-04-08T12:40:00,2014-04-08T12:50:00,2014-04-08T16:40:00,31,125.29,0,0.0

In [37]:
oakland = oakland[["id","zone","start","end","meter_transactions"]]

oakland["start"] = pd.to_datetime(oakland["start"])
oakland["end"] = pd.to_datetime(oakland["end"])

In [38]:
zones = pd.read_csv("zones.csv")

oakland = pd.merge(oakland, zones, on='zone')

oakland

,id,zone,start,end,meter_transactions,as_of,spaces,rate,rate_description,meters,type
0,5050,407 - Oakland 1,2014-01-04 11:40:00,2014-01-04 11:50:00,9,2017-03-06,220,3.0,$3.00/HR,31.0,on-street
1,5050,407 - Oakland 1,2014-01-04 11:40:00,2014-01-04 11:50:00,9,2018-01-19,227,3.0,$3.00/HR,30.0,on-street
2,5084,407 - Oakland 1,2014-01-04 11:50:00,2014-01-04 12:00:00,13,2017-03-06,220,3.0,$3.00/HR,31.0,on-street
3,5084,407 - Oakland 1,2014-01-04 11:50:00,2014-01-04 12:00:00,13,2018-01-19,227,3.0,$3.00/HR,30.0,on-street
4,5119,407 - Oakland 1,2014-01-04 12:00:00,2014-01-04 12:10:00,15,2017-03-06,220,3.0,$3.00/HR,31.0,on-street
...,...,...,...,...,...,...,...,...,...,...,...
50881,200973,410 - Oakland 4,2014-04-08 12:20:00,2014-04-08 12:30:00,36,2018-01-19,572,3.0,$3.00/HR,45.0,on-street
50882,201008,410 - Oakland 4,2014-04-08 12:30:00,2014-04-08 12:40:00,24,2017-03-06,570,3.0,$3.00/HR,46.0,on-street
50883,201008,410 - Oakland 4,2014-04-08 12:30:00,2014-04-08 12:40:00,24,2018-01-19,572,3.0,$3.00/HR,45.0,on-street
50884,201044,410 - Oakland 4,2014-04-08 12:40:00,2014-04-08 12:50:00,31,2017-03-06,570,3.0,$3.00/HR,46.0,on-street
50885,201044,410 - Oakland 4,2014-04-08 12:40:00,2014-04-08 12:50:00,31,2018-01-19,572,3.0,$3.00/HR,45.0,on-street

In [39]:
oakland["free_spaces"] = oakland["spaces"] - oakland["meter_transactions"]

oakland

,id,zone,start,end,meter_transactions,as_of,spaces,rate,rate_description,meters,type,free_spaces
0,5050,407 - Oakland 1,2014-01-04 11:40:00,2014-01-04 11:50:00,9,2017-03-06,220,3.0,$3.00/HR,31.0,on-street,211
1,5050,407 - Oakland 1,2014-01-04 11:40:00,2014-01-04 11:50:00,9,2018-01-19,227,3.0,$3.00/HR,30.0,on-street,218
2,5084,407 - Oakland 1,2014-01-04 11:50:00,2014-01-04 12:00:00,13,2017-03-06,220,3.0,$3.00/HR,31.0,on-street,207
3,5084,407 - Oakland 1,2014-01-04 11:50:00,2014-01-04 12:00:00,13,2018-01-19,227,3.0,$3.00/HR,30.0,on-street,214
4,5119,407 - Oakland 1,2014-01-04 12:00:00,2014-01-04 12:10:00,15,2017-03-06,220,3.0,$3.00/HR,31.0,on-street,205
...,...,...,...,...,...,...,...,...,...,...,...,...
50881,200973,410 - Oakland 4,2014-04-08 12:20:00,2014-04-08 12:30:00,36,2018-01-19,572,3.0,$3.00/HR,45.0,on-street,536
50882,201008,410 - Oakland 4,2014-04-08 12:30:00,2014-04-08 12:40:00,24,2017-03-06,570,3.0,$3.00/HR,46.0,on-street,546
50883,201008,410 - Oakland 4,2014-04-08 12:30:00,2014-04-08 12:40:00,24,2018-01-19,572,3.0,$3.00/HR,45.0,on-street,548
50884,201044,410 - Oakland 4,2014-04-08 12:40:00,2014-04-08 12:50:00,31,2017-03-06,570,3.0,$3.00/HR,46.0,on-street,539
50885,201044,410 - Oakland 4,2014-04-08 12:40:00,2014-04-08 12:50:00,31,2018-01-19,572,3.0,$3.00/HR,45.0,on-street,541

In [43]:
oakland["transaction_hour"] = oakland["start"].dt.hour

In [44]:
oakland = oakland[["id","zone",	"start", "end",	"transaction_hour","meter_transactions", "spaces",	"rate",	"type",	"free_spaces"]]
oakland

,id,zone,start,end,meter_transactions,spaces,rate,type,free_spaces
0,5050,407 - Oakland 1,2014-01-04 11:40:00,2014-01-04 11:50:00,9,220,3.0,on-street,211
1,5050,407 - Oakland 1,2014-01-04 11:40:00,2014-01-04 11:50:00,9,227,3.0,on-street,218
2,5084,407 - Oakland 1,2014-01-04 11:50:00,2014-01-04 12:00:00,13,220,3.0,on-street,207
3,5084,407 - Oakland 1,2014-01-04 11:50:00,2014-01-04 12:00:00,13,227,3.0,on-street,214
4,5119,407 - Oakland 1,2014-01-04 12:00:00,2014-01-04 12:10:00,15,220,3.0,on-street,205
...,...,...,...,...,...,...,...,...,...
50881,200973,410 - Oakland 4,2014-04-08 12:20:00,2014-04-08 12:30:00,36,572,3.0,on-street,536
50882,201008,410 - Oakland 4,2014-04-08 12:30:00,2014-04-08 12:40:00,24,570,3.0,on-street,546
50883,201008,410 - Oakland 4,2014-04-08 12:30:00,2014-04-08 12:40:00,24,572,3.0,on-street,548
50884,201044,410 - Oakland 4,2014-04-08 12:40:00,2014-04-08 12:50:00,31,570,3.0,on-street,539
50885,201044,410 - Oakland 4,2014-04-08 12:40:00,2014-04-08 12:50:00,31,572,3.0,on-street,541

In [42]:
oakland.to_csv("oakland.csv")